.main_wrapper{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.location_main_background{
  background-image: url('./images/contact/hraviratoms-contact-background.png');
  background-size: cover;
}

