.main_wrapper{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.location_main_background{
  background-image: url("C:\Users\Dav\Desktop\wed-4-order\src\images\timeline_background_.JPG");
  background-size: cover;
}

